* {
    box-sizing: border-box;
    /* border: 1px solid; */
}

/* ------
clearfix
------ */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ------
global
------ */
body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1em;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main";
    height: 1000px;
}

/* ------
Headings
------ */

h1 {
    flex-grow: 4;
    margin: 0;
}

h1 span {
    font-weight: 200;
}

h2.top-name {
    font-size: 1em;
    font-weight: 400;
    margin-left: 16px;
}

h3 {

}

/* ------
header area
------ */
header {
    display: flex;
    grid-area: header;
    background-color: #88D884;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    padding: 4px 20px;
    z-index: 1000;;
}



.bell  {
    height: 30px;
    width: 30px;
    margin-right: 40px;
}

.bell:hover {
    transform: rotate(-15deg);
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px #444;
}

/* ------
Navigation
------ */

nav {
    grid-area: nav;
    background-color: rgb(24, 59, 22);
    display: flex;
    justify-content: space-between;
}

.nav-icons {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 6px;
}

.nav-icons:hover {
    transform: scale(1.1);
}

.nav a {
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
    padding: 10px 0;
}


/* ------
Dashboard and alert
------ */

/* ------
graphs
------ */

main {
    grid-area: main;
    background-color:#fff;
}

/* ------
members and activity
------ */

/* ------
Forms
------ */

/* ------
Settings
------ */

/* ------
media-queries
------ */

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 70px 1fr;
        grid-template-areas:
        "header header"
        "nav main"
        "nav main";
    }

    nav {
        display: block;
        height: 100vh;
        padding-top: 70px;
        position: fixed;
        top: 0px;
    }

    .nav-icons {
        display: block;
        height: 50px;
        width: 50px;
        margin: 30px auto;

    }
}

@media (min-width: 1024px) { /*can this be done at 768px? */
    main {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "main-header main-header"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social"
        "new recent"
        "message settings";
    }

    .main-header {
        grid-area: main-header;
    }

    .alert {
        grid-area: alert;
    }

    .traffic {
        grid-area: traffic;
    }

    .daily-traffic {
        grid-area: daily;
    }

    .mobile-users {
        grid-area: mobile;
    }

    .daily-traffic {
        grid-area: daily;
    }

    .social {
        grid-area: social;
    }

    .new-members {
        grid-area: new;
    }

    .recent-activity {
        grid-area: recent;
    }

    .message-user {
        grid-area: message;
    }

    .settings {
        grid-area: settings;
    }
}


/* ------
Colours
------ */
.color-primary-0 { color: #8181C1 }	/* Main Primary color */
.color-primary-1 { color: #CBCBE2 }
.color-primary-2 { color: #BFBFDC }
.color-primary-3 { color: #5353AA }
.color-primary-4 { color: #4B4BA4 }

.color-secondary-1-0 { color: #88D884 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #D1EDD0 }
.color-secondary-1-2 { color: #C7E9C5 }
.color-secondary-1-3 { color: #54C54E }
.color-secondary-1-4 { color: rgb(24, 59, 22) }