* {
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

/* ------
clearfix
------ */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ------
global
------ */

body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1em;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: grid;
}


  /* ------
Headings
------ */

h1 span.main-title {
    font-weight: 200;
}

h1 {
    text-shadow: 1px 0 1px #ddd;
    font-size: 1.75em;
}

h3.name {
    grid-area: name;
    display: inline;
    float: right;
    padding-left: 40px;
    font-weight: 500;
    border-left: 2px solid rgba(169, 148, 202, 0.6);
}


 /* ------
header area
------ */
.top-head-wrap {
    text-align: center;
}

.lower-head-wrap {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.bell-icon {
    height: 20px;
    width: 20px;
}

img.profile-img {
    display: none;
 }

/* ------
Navigation
------ */


/* ------
Dashboard and alert
------ */


/* ------
graphs
------ */


/* ------
Social
------ */

.social-media-info {
    grid-template-columns: repeat(3, 1fr);
 }
.social-media-info {
    padding: 20px 10px;
}
.social-inner,
.social-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.social-1,
.social-2,
.social-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(225, 239, 56, .1);;
}

.social-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* ------
members and activity
------ */





/* ------
Forms
------ */


/* ------
Settings
------ */

/* ------
media-queries
------ */

 @media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .lower-head-wrap {
        justify-content: flex-end;
    }
    h3.name {
        margin-left: 30px;
}

@media (min-width: 1024px) {
}


