* {
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

/* ------
clearfix
------ */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ------
global
------ */

body {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-size: 1em;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    display: grid;
}

p.social-name {
    font-size: 1.25em;
    color: #466B00;
    font-weight: 700;
}

p.totals {
    font-size: 2em;
    margin-top: 6px;
    color: #676865;
    font-weight: 300;
}

p.full-name,
p.date {
    font-size: .75em;
    font-weight: 500;
}

p.email {
    color: #466B00;
    font-size: .6em;
}

p.member-comments {
    font-size: .6em;
}

p.time-frame {
    font-size: .75em;
}


  /* ------
Headings
------ */

h1 span.main-title {
    font-weight: 200;
}

h1 {
    text-shadow: 1px 0 1px #ddd;
    font-size: 1.75em;
}

h3 {
    font-size: 1.1em;
}

h3.name {
    grid-area: name;
    display: inline;
    float: right;
    /* padding-left: 40px; */
    font-weight: 500;
    /* border-left: 2px solid rgba(169, 148, 202, 0.6); */
}


 /* ------
header area
------ */
.top-head-wrap {
    text-align: center;
}

.lower-head-wrap {
    width: 80%;
    max-width: 256px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.bell-icon {
    display: inline-block;
    width: 60px;
    transition: all .5s ease-in-out;;
    padding: 0 1rem;
    border-right:1px solid rgba(169, 148, 202, 0.6);
}

img.profile-img {
    display: none;
 }

 /* ------
Bell animation
------ */
.bell-icon:hover {
    transform: rotate(30deg) scale(1.1);
}

/* ------
Navigation
------ */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100%;
}

.nav-icons {
    display: inline-block;
    height: 40px;
    width: 40px;
    opacity: .6;
    transition: opacity .4s ease-in-out;
}

.nav-icons:hover {
    opacity: 1;
    /* border-left: 1px solid white; */
}

/* ------
Dashboard and alert
------ */
.dash-top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    height: 120px;
    padding-top: 20px;
}

.search {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;;
    background-color: #eee;
}
input.search {
    height: 30px;
    width: 80%;
    border-radius: 8px;
    margin-top: 12px;
    border: 1px solid #ddd;
    padding-left: 4px;
    background: #fff;
    background-image: url('../icons/search_icon.png');
    background-position: 95%;
    background-repeat: no-repeat;
}

/* ------
graphs - Main
------ */
.full-size-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* ul.traffic-nav {
    display: inline;
} */

li.traffic-nav-link {
    display: inline;
    padding: 8px 4px;
    margin: 6px;
    transition: background-color .5s ease-out;
    border-radius: 30px;
    font-size: .7em;
}

li.traffic-nav-link:hover,
li.traffic-nav-link:active {
    background-color: rgba(225, 239, 56, .4);
}

/* ------
graphs - Half
------ */


/* ------
Social
------ */

.social-media-info {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
 }

.social-inner,
.social-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.social-1,
.social-2,
.social-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgba(225, 239, 56, .1);
    transition: background .3s ease-in-out;
}

.social-1:hover,
.social-2:hover,
.social-3:hover {
    background: rgba(225, 239, 56, .8);
}

.social-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* ------
members and activity
------ */

.member-info {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #e4e4e4;
}

.members-1,
.members-2  {
    width: 100%;
    border-bottom: 2px solid #e4e4e4;
    padding: 10px;
}

.member-data {
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.member-data:last-child {
    border-bottom: none;
}

.member-email,
.member-comment-contain {
    flex-grow: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.member-data img.arrow {
    box-shadow: none;
    width: 15px;
    width: 15px;
}

.member-data img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 4px #333;
}

/* ------
Forms
------ */

.message-and-settings {
    display: flex;
    flex-direction: column;
}
.message,
.settings {
    width: 100%;
    padding: 10px;
}

form {
    width: 90%;
    margin: auto;
    text-align: center;
}

input.user,
textarea {
    width: 100%;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 4px 4px;
}

input.user::placeholder,
textarea::placeholder {
    font-size: .8em;
    color: #ccc;
    letter-spacing: 1px;
}

input.user {
    height: 3em;
    margin: 20px 0;
}

button.message {
    background-color: rgb(225, 239, 56);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: background .3s ease-in-out;

}

button.message:hover {
    background-color: #466B00;
    color: white;
}

/* ------
Settings
------ */

/* ------
Toggle buttons
------ */
.toggle-contain {
    display: flex;
    flex-direction: column;
}

.email-notif,
.public-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label.switch-light {
    width: 50%;
    float: right;
}

.switch-candy a {
    background-color: rgb(225, 239, 56);
}

.toggle {
    background-color: red;
}
/* ------
media-queries
------ */

 @media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
    }
    .lower-head-wrap {
        justify-content: flex-end;
        align-items: center;
        max-width: 80%;
    }
    img.profile-img {
        display: inline;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        border-radius: 50%;
    }
    h3.name {
        margin-left: 30px;
    }
    li.traffic-nav-link {
        font-size: .8em;
    }
    .social-media-info {
        margin: 0 20px;
     }
     .social-flex {
         flex-direction: row;
         justify-content: space-evenly;
         width: 100%;
     }
     .social-1,
     .social-2,
     .social-3 {
        width: 30%;
    }
    .member-info,
    .message-and-settings {
        flex-direction: row;
    }
    .members-2,
    .settings {
        border-left: 2px solid #e4e4e4;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
     }
    nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-icons {
        margin: 40px 20px;
    }
    .dash-top {
        height: 100px;
        grid-template-rows: 1fr;
        grid-template-columns: 200px 1fr;
        padding-top: 0;
    }
    .search {
        height: 100px;
        border-left: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    h2.dashboard {
        margin-top: 40px;
        height: 100px;
    }
    .search {
        border-top: none;
    }
    input.search {
        height: 2em;
        width: 40%;
        float: right;
        margin-right: 40px;
        padding: 10px;
    }
    input.search::placeholder {
        font-size: 1em;
    }
    li.traffic-nav-link {
        font-size: .9em;
        padding: 8px;
    }

}

